{% load static %}

<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Dan's Cool Beans{% endblock%}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'coffee/style.css' %}">

        {% if request.user.is_authenticated %}
        <link rel="stylesheet" type="text/css" href="{% static 'coffee/managerStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'coffee/userStyle.css' %}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'coffee/login.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% endif %}

        <script src="script.js" defer></script>
    </head>
    <body class="full-height-grow">
        {% if request.user.is_authenticated %}
        {% include './header.html' %}
        {% endif %}
        <section class="main-section">
            {% if request.user.is_authenticated %}
            <h1 class="column-heading">{% block page_heading %}{% endblock %}</h1>
            {% endif %}
            <div class="column-container">

                {% block content %}
                {% endblock %}
            </div>
        </section>
        {% if request.user.is_authenticated %}
        {% include './footer.html' %}
        {% endif %}
    </body>
</html>
