/*
blue: 0066b2
red: fc3a52
yellow: f9b248
tan: e8d5b7
*/
:root {
    --headerColor: #C19A6B;
    --secondaryColor: #c7b198;
    --highlightColor: #f0ece2;
    --blueTextColor: #6495ED;
    --boxColor: #f1ddbd;
  }

/* --------------Universal Styling-------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    font-size: 1.2rem;
}

h1 h2 {
    margin: 0;
    min-width: fit-content;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: var(--highlightColor); 
}


/* -------------- main styling and general vertical and horizonal styling and other general styling --------------*/
.full-height-grow {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    background-color: #EADDCA;
}

.center-item-vertically {
    display: flex;
    align-items: center;
}

.newLine:after {
    content: '\200b';
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
}

/* main-column styling */
.column-heading {
    font-size: 2rem;
    color: var(--blueTextColor);
    background-color: var(--secondaryColor);
    text-shadow: 1px 1px #0e2431;
    margin: 1rem;
    padding: 1rem 5rem;
    border-radius: 5px;
    width: fit-content;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}  

.column-container-reducedWidth {
    display: flex;
    max-width: 40rem;
}

/* -------------- Navbar Styling --------------*/
.navbar {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    background-color: var(--headerColor);
    min-height: 200px;
    border-bottom: 1px solid #0066b2;
}

.navbar-links {
    display: flex;
    height: 100%;
    margin-right: 4rem;
    width: fit-content;
    margin-left: auto;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar-links li {
    list-style: none;
    font-size: 1.5rem;
    max-height: 100px;
    flex-grow: 1;
    width: fit-content;
    white-space: nowrap ;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    padding: 2.5rem;
}

#shoppingCartImage {
    display: flex;
    height: 100%;
    width: 8rem;
    padding: 1rem;
}

#shoppingCartImage img {
    height: 100%;
    margin: auto;
    text-align: center;
}

.accountBalanceContainer {
    display: flex;
    margin-right: auto;
    margin-left: 2rem;
}

.accountBalanceContainer * {
    font-size: 2rem;
    padding: 1.2rem;
    width: fit-content;
}

.accountRowContainer {
    display: flex;
    margin-right: auto;
}

/* -------------- Heading - Navbar ish -------------- */
.logout-btn {
    padding: 20px;
    border-radius: 10px;
    margin: 1rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    background-color: var(--boxColor);
}

.logout-btn:hover {
    background-color: var(--highlightColor);
}

.heading {
    margin-left: 2rem;
    font-size: 2.5rem;
    color: var(--blueTextColor);
    text-shadow: 2px 2px #0e2431;
    margin-right: auto;
    padding: 1.2rem;
    width: fit-content;
}




/* -------------- add box shadow to any elements that gives it a pop :) -------------- */
.boxShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: var(--secondaryColor);
    padding: 2rem;
    margin: 2rem;
}


/* -------------- footer styling -------------- */
.main-footer {
    display: flex;
    background-color: var(--headerColor);
    justify-content: center;
}

.main-footer p {
    color: var(--blueTextColor);
}


/* -------------- Table Styling -------------- */
.table {
    background-color: #e8d5b7;
    border-radius: 5px;
}

.table th, td {
    width: fit-content;
    text-align: center;
    vertical-align: middle;
}

.col-md-6 {
    margin: 2rem;
}

.btn {
    background-color: var(--secondaryColor);
    color: black;
    padding: 1.2rem;
    border-radius: 5px;
    width: fit-content;
}

#id_quantity {
    margin: auto;
}

.bg-white {
    width: fit-content;
    margin-bottom: 25rem;
}

.offset-md-3 {
    width: fit-content;
}

.table th {
    padding: 1.5rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.row {
    display: flex;
    justify-content: space-between;
}

/* -------------- Forum Styling -------------- */
/*              login, register, etc           */
.data-entry-form {
    margin: auto;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    padding: 2rem;
    background-color: var(--boxColor);
    border: 3px solid #0066b2;
    max-width: 30rem;
    font-size: 1.2rem;
}

.entry-heading {
    padding: 0rem 1rem;
    margin: auto;
    margin-bottom: 2rem;
    min-width: fit-content;
    border-bottom: 3px solid #fc3a52;
}

input {
    border: 1px solid #a4a4a4;
    padding: 1.2rem 20px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #f8f8ff;
    font-size: 1.2rem;
}

/* ORDER STYLING */
/* Order List styling for user page */
.order-link {
    display: flex;
}

.order {
    display: flex;
    margin: 2em;
    width: fit-content;
    border-left: 5px solid #fc3a52;
    border-bottom: 5px solid #f9b248;
    border-top: 5px solid #0066b2;
    background-color: var(--boxColor);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 200px;
    align-self: center;
}

.order-description {
    padding: 1rem;
    max-width: 40em;
}

.order-description h2 {
    border-bottom: 4px dashed #fc3a52;
    width: fit-content;
}

.price-of-order {
    margin:auto;
    padding: 2rem;
}

/* Styling for managing Employees ect... */
.button-links {
    display: flex;
    width: fit-content;
    list-style: none;
    padding: 2rem;
    font-size: 1.5rem;
}

.button-links li {
    margin: 1.5rem;
}

.button-links li a {
    padding: 2rem;
}

.card-heading {
    display: flex;
    width: max-content;
    margin: auto;
    margin-bottom: 1rem;
    border-bottom: 4px dashed #fc3a52;
}

.card-contents {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}