{% extends './partials/base.html' %}
{% block title %} New Employee {% endblock %}
{% block page_heading %} Congrats on the new hire! {% endblock %}
{% block content %}
<section class="data-entry-form">
    <h3 class="entry-heading">Create New Employee Account</h3>

    <form method="POST" action="" class="field-container">
        {% csrf_token %}
        
        {{form.username.label}}
        {{form.username}}
        {{form.password1.label}}
        {{form.password1}}
        {{form.password2.label}}
        {{form.password2}}
        <input type="submit" name="Create Employee">
    </form>
</section>  
{% endblock %}
