{% extends './partials/base.html' %}
{% load static %}

{% block title %} Welcome User {% endblock %}
{% block page_heading %} Customize Your Drink {% endblock %}

{% block content %}

<div class="">
    <div class="drinkOptionsConatiner boxShadow">
        <h2>{{drink.name}}</h2>

        <form method="post" action="" class="">
            {% csrf_token %}
            <label for="quantity">Caramel Base :</label>
            {% if 'Caramel Base' in drinkIngreds %}
                <input type="number" name="caramel" value={{ingredAmounts.Caramel}}> 
            {% else %}
                <input type="number" name="caramel" value="0">
            {% endif %}
            <label for="quantity">Chai Tea Base :</label>
            {% if 'Chai Tea Base' in drinkIngreds %}
                <input type="number" name="chai" min="0" max="5" value={{ingredAmounts.Chai}}> 
            {% else %}
                <input type="number" name="chai" min="0" max="5" value="0">
            {% endif %}
            <label for="quantity">Chocolate Chips :</label>
            {% if 'Chocolate Chips' in drinkIngreds %}
                <input type="number" name="chocolate" min="0" max="5" value={{ingredAmounts.Chocolate}}> 
            {% else %}
                <input type="number" name="chocolate" min="0" max="5" value="0">
            {% endif %}
            <label for="quantity">Cinnamon :</label>
            {% if 'Cinnamon' in drinkIngreds %}
                <input type="number" name="cinnamon" min="0" max="5" value={{ingredAmounts.Cinnamon}}> 
            {% else %}
                <input type="number" name="cinnamon" min="0" max="5" value="0">   
            {% endif %}
            <label for="quantity">Espresso Shot :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">
            <label for="quantity">Cinnamon :</label>
            <input type="number" name="cinnamon" min="0" max="5" value="0">

            <input type="submit" value="Add to Order">
            
        </form>
            <!-- {% for f in form %} -->
            <!-- {% endfor %} -->
            <div class="col-md-6">
                <a class="btn btn-info" href="{% url 'coffee:userView' %}">Cancel</a> <!-- delete the drink if this is clicked -->
                 <!-- Make this the submit button, it will check if the url 
                (or hidden variable?) is carrying a userId (assuming that's how cashier's do that) and if not will just
                check the currently  logged in user, to see if they have an order already (query for status 0, if the query
                is empty, make a new order and add the customized drink to it)-->
            </div>
        
    </div>
</div>

{% endblock %}
