{% extends './partials/base.html' %}
{% load static %}

{% block title %} Welcome User {% endblock %}
{% block page_heading %} Customize Your Drink {% endblock %}

{% block content %}

<div class="displayDrinkContainer">
    <div class="larger-image">
        <img class="boxShadow" src="{% static 'blog/media/aFrap.jpeg' %}">
    </div>
    <div class="drinkOptionsConatiner boxShadow">
        <h2>{{ drink.name }}</h2>
        {% for item in drink_list %}
        <p>
            {% if drink.name == item.name %}
            {% for test in item.Ingredients.all %}
            {{ test.name }},
            {% endfor %}
            {% endif %}
        </p>
        {% endfor %}

        <form method="POST" action="" class="customizeDrink-InputForum">
            {% csrf_token %}

            <div class="labelStyling">{{form.name.label}}</div>
            <div class="inputStyling">{{form.name}}</div>
            <div class="labelStyling">{{form.Ingredients.label}}</div>
            <div class="inputStyling">{{form.Ingredients}}</div>
            <div class="labelStyling">{{form.price.label}}</div>
            <div class="inputStyling">{{form.price}}</div>

            <!--            TODO-->
            <div class="inputStyling"><input type="Submit Order" name="Create User"></div>

            <div class="col-md-6">
                <a class="btn btn-info" href="">Add to Order</a>
            </div>

        </form>

    </div>
</div>

{% endblock %}
