{% extends './partials/base.html' %}

{% block title %} Deliver Drinks {% endblock %}
{% block page_heading %} Deliver Drinks {% endblock %}

{% block content %}

<div class="switchColumn">
    <nav>
        <ul class="button-links">
            <li><a class="btn marginSpace" href="{% url "coffee:manageEmployees"%}">Search for Customer</a></li>
            <li><a class="btn marginSpace" href="{% url "coffee:employeeView"%}">Make Drinks</a></li>
        </ul>
    </nav>

<div class="column-container">
    {% if order_list %}
    {% for order in order_list %}
    <div class="order col remSpace">
        {% for menuItem in order.menu_item_set.all %}
        <div class="newLine"></div>
        <div><h3>{{ menuItem.name }}</h3></div>
            {% for ingredient in menuItem.item_amounts.all %}
                <div>{{ ingredient.amount }} {{ ingredient.inventory_item.name }}</div>
            {% endfor %}
        {% endfor %}

        <div class="column-heading center-item-vertically">
            <form name="submitform" method="post">
                {% csrf_token %}
                <input type='hidden' name="id" value="{{order.pk}}">
                <input class='btn' type="submit" value="Submit"/>    
            </form>
        </div>
    </div>
    {% endfor %}
</div>


{% else %}
<p class="boxShadow">No drinks to send out. Go take a break!</p>
{% endif %}
{% endblock %}
