{% extends './partials/base.html' %}

{% block title %} Make Drinks {% endblock %}
{% block page_heading %} Make Drinks {% endblock %}

{% block content %}
<nav>
    <ul class="navbar-links">
        <li><a class="btn" href="{% url 'coffee:manageEmployees'%}">Search for Customer</a></li>
        <li><a class="btn" href="{% url 'coffee:deliverDrinks'%}">Deliver Drinks</a></li>
    </ul>
</nav>
{% if order_list %}
{% for order in order_list %}

    <div class="order">
        <div class="column-container">
            <div><h3>Order by: {{ order.profile.user }}</h3></div>
            {% for menuItem in order.menu_item_set.all %}
            <div class="newLine"></div>
            <div><h3>{{ menuItem.name }}</h3></div>
                {% for ingredient in menuItem.item_amounts.all %}
                    <div>{{ ingredient.amount }} {{ ingredient.inventory_item.name }}</div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="column-heading center-item-vertically">
            <form name="submitform" method="post">
                {% csrf_token %}
                <input type='hidden' name="id" value="{{order.pk}}">
                <input type="submit" value="Submit"/>
                </div>        
            </form>
        </div>

    </div>

{% endfor %}
{% else %}
<p class="boxShadow">No orders to be made. Go take a break!</p>
{% endif %}
{% endblock %}
