<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
      <script src="script.js" defer></script>
      <title>Coffee</title>
    </head>

    <body>
      <nav id = "navbar_ID" class="navbar">
        <div class="navbar-links">
          <ul>
            
            <li><img src="{% static 'blog/media/coffeeCup.jpg' %}"><a href="#"></a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Info</a></li>
            <li><a href="#">Account</a></li>
          </ul>
        </div>
      </nav>

      <div class="content-box">
        <img src="{% static 'blog/media/someoneWithCoffee.jpeg' %}">
        <h2>Random text here this is me and more comments</h2>
      </div>

      <div class="content-box">
        <img src="{% static 'blog/media/someoneWithCoffee.jpeg' %}">
        <h2>Random text here this is me and more comments</h2>
      </div>

      <div class="content-box">
        <img src="{% static 'blog/media/someoneWithCoffee.jpeg' %}">
        <h2>Random text here this is me and more comments</h2>
      </div>

      <div class="content-box">
        <img src="{% static 'blog/media/someoneWithCoffee.jpeg' %}">
        <h2>Random text here this is me and more comments</h2>
      </div>

    </body>
</html>