
{% extends './partials/base.html' %}

{% block title %} Manage Inventory {% endblock %}
{% block page_heading %} Manage Inventory {% endblock %}

{% block content %}
        {% if inventory_list %}
        <table class="table boxShadow autoMargin" style="border-color:#ccb593;">
            <thead>
                <tr>
                    <th scope="col">Ingredient</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventory_list %}
                <tr>
                    <th scope="row">{{ item.name }}</th>
                    <td>{{ item.price }}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                {{ item.quantity }}
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-info" href="{% url 'coffee:update-inventory' item.id %}">+</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h5>No inventory items in database</h5>
        {% endif %}
{% endblock %}


