{% extends './partials/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<section class="login-container">

    <h1 class="sign-in-h1">Sign In</h2>
    <form method="POST" action=""> 
      
        {% csrf_token %}
        <label for="fname">Username:</label><br>
        <input type="text" id="fname" name="username" ><br>
        <label for="lname">Password:</label><br>
        <input type="password" id="lname" name="password" class="form-control" ><br><br>
        <input type="submit" value="Login">
    </form> 
    <div class="register_link">
        Don't have an account yet? <a href="{% url 'coffee:register' %}" >Register</a>
    </div>
</section>

<script>
    function alertMessage(message) {
      alert(message);
    }
</script>


{% for message in messages %}
    <script>alertMessage('{{message}}')</script>
{% endfor %}

{% endblock %}
