{% extends './partials/base.html' %}

{% block title %} Manager View {% endblock %}
{% block page_heading %} Let's Cook {% endblock %}

{% block content %}
<div class="row-container">

  <div class="manage-edit">
    <a class="boxShadow" href="/inventory">Manage Inventory</a>
    <a class="boxShadow" href="/drink">Edit Menu</a>
  </div>

  <div class="manage-employees">
    <a class="boxShadow" href="{% url 'coffee:createEmployee' %}">Add New Employee</a>
    <a class="boxShadow" href="#">Pay Employees</a>
  </div>
  
</div>
{% endblock %}
