<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'blog/managerStyle.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'blog/userStyle.css' %}">
      <script src="script.js" defer></script>
      <title>Manager View</title>
    </head>

    <body class="full-height-grow">
      <nav class="navbar">
        <div class="heading">
          <h1>Welcome Manager!</h1>
        </div>
        
        <ul class="navbar-links">
          <li><a id="current_page" href="/inventory">Manager</a></li>
          <li><a href="/manageEmployees">Employees</a></li>
          <li><a href="/managerView">Customers</a></li>
        </ul>
        <form action="/logout">
          <input type="submit" value="Logout" class="logout-btn">
        </form>
      </nav>

      <section class="main-section">
        <div class="row-container">

          <div class="manage-edit">
            <a class="boxShadow" href="#">Manage Inventory</a>
            <a class="boxShadow" href="#">Edit Menu</a>
          </div>

          <div class="manage-employees">
            <a class="boxShadow" href="#">Add New Employee</a>
            <a class="boxShadow" href="#">Pay Employees</a>
          </div>
          
        </div>

      </section>

      <footer class="main-footer">
        <p>All rights reserved to Dan's Cool Beans</p>
      </footer>

    </body>
</html>