{% extends './partials/base.html' %}

{% block title %} Manage Employees {% endblock %}
{% block page_heading %} Search for user {% endblock %}

{% block content %}
<nav>
    <ul class="button-links">
        <li><a class="btn" href="{% url "coffee:employeeView"%}">Make Drinks</a></li>
        <li><a class="btn" href="{% url "coffee:deliverDrinks"%}">Deliver Drinks</a></li>
    </ul>
</nav>
    <div class="column-container">
            <form>
                <input name="q" type="search" class="search" placeholder="Enter customer name" aria-label="Search"/>  
                <input class="inputStyling" type="submit"/>
            </form>
            {% if clearSearch %}
            <a class="btn" href="{% url 'coffee:manageEmployees' %}">X clear search</a>
            {% endif %}
    
        {% if users %}
        {% for user in users %}
        <div class='boxShadow'>
            <div class='card-heading'>
                <h3>{{ user.user.username }}</h3>
            </div>
            <div class='card-contents'>
                <a class='btn' href='#'>New Order</a>
                {% if user.hasPaidOrders %}
                    <a class='btn' href="{% url 'coffee:paidOrders' user.user.id %}">View Orders</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    
{% endblock %}
