{% extends './partials/base.html' %}

{% block title %} Manage Employees {% endblock %}
{% block page_heading %} Search for Employee {% endblock %}

{% block content %}
    <div class="column-container">
        <div class="row=container">
            <form>
                <input name="q" type="search" class="search" placeholder="Enter customer name" aria-label="Search"/>  
                <input class="inputStyling" type="submit"/>
            </form>
            {% if clearSearch %}
            <a href="{% url 'coffee:manageEmployees' %}">X clear search</a>
            {% endif %}
        </div>
        {% if users %}
        {% for user in users %}
        <a class='boxShadow' href="#"> {{ user.user.username }}</a>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}
