{% load static %}

<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8" />
        <title>Inventory Management</title>
    </head>
    <h1>Manage Inventory Here</h1>

    {% if inventory_list %}
        {% for item in inventory_list %}
            <div>
                <h5>{{ item.name }}</h5>
                <ul>
                    <li>Quantity: {{ item.quantity }}</li>
                    <li>Price: ${{ item.price }}</li>
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h5>No inventory items in database</h5>
        </div>
    {% endif %}

</html>

