{% extends './partials/base.html' %}

{% block title %} Delete Item {% endblock %}
{% block page_heading %} Delete Item {% endblock %}

{% block content %}
<div class="boxShadow">
    <h3 class="formHeader">Are you sure you want to delete?</h3>
    <hr>
    <form class="inputStyling" method ="POST">
        {% csrf_token %}
        {{ form }}
        <a class="" href="{% url 'coffee:edit-menu' %}">Cancel</a>
        <input class ="inputStyling" type ="submit" value="Confirm">
    </form>
</div>
{% endblock %}
