{% extends './partials/base.html' %}

{% block title %} Menu Items {% endblock %}
{% block page_heading %} Manage Menu Items {% endblock %}

{% block content %}
<div class="column-heading">
    <div class="column-container">
        <h3 class="card-heading">Price markup: {{ markup.markup }}%</h3>
        <a class="btn" href="{% url 'coffee:update-markup' %}">Edit</a>
    </div>
    <div class="column-container">
        <a class="btn" href="{% url 'coffee:menu_add' %}">Create Drink</a>
    </div>
</div>

{% if menu_list %}
<table class="table" style="border-color:#ccb593;">

    <thead>
    <tr>
        <th scope="col">Drink</th>
        <th scope="col">Price</th>
        <th scope="col">Ingredient</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for item in menu_list %}
    <tr>
        <th scope="row">{{ item.name }}</th>
        <td>{{ item.price }}</td>
        <td>
            <div class="row">
                <div class="col-md-6">
                    <p>

                        {% for test in item.item_amounts.all %}
                            {{ test.amount }} {{ test.inventory_item.name }},
                        {% endfor %}
                    </p>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-danger" href="{% url 'coffee:menu_delete' item.id %}">-</a>
                    <a class="btn btn-dark" href="{% url 'coffee:menu_update' item.id %}">Edit</a>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h5>No inventory items in database</h5>
{% endif %}

{% endblock %}


