{% extends './partials/base.html' %}

{% block title %} Paid Orders {% endblock %}
{% block page_heading %} {{ customer.user }}'s Orders {% endblock %}

{% block content %}

<div class="column-container">
    {% if paidOrderList %}
    {% for order in paidOrderList %}
        {% for menuItem in order.menu_item_set.all %}
        <div class="order">
            <a class="order-link" href="">
                <div class="order-description">
                    <h2>{{ menuItem.name }}</h2>
                    <p>
                        {% for ingr in menuItem.item_amounts.all %}
                            {{ ingr.amount }} {{ ingr.inventory_item.name }},
                        {% endfor %}
                    </p>
                </div>
                <div class="price-of-order">
                    <a class="btn" href="">Submit</a>
                </div>
            </a>
        </div>
        {% endfor %}
    {% endfor %}  

    {% else %}
    <p>No orders yet.</p>

    {% endif %}
</div>

{% endblock %}
