{% extends './partials/base.html' %}
{% block title %} Register {% endblock %}
{% block content %}
<section class="data-entry-form">

    <h1 class="entry-heading">Register</h2>
    <form method="POST" action="" class="field-container">
        {% csrf_token %}
        {{form.username.label}}
        {{form.username}}
        {{form.password1.label}}
        {{form.password1}}
        {{form.password2.label}}
        {{form.password2}}
        <input type="submit" name="Create User">
    </form>
    <div class="entry-heading">
        Already have an account? <a href="{% url 'coffee:login' %}" >Login</a>
    </div>
</section>  
{% endblock %}
