{% extends './partials/base.html' %}

{% block title %} Update Markup {% endblock %}
{% block page_heading %} Update Markup {% endblock %}

{% block content %}
    <div class="boxShadow">
        <h3 class="formHeader">What would you like to set the new price markup as?</h3>
        <hr>
        <form class="inputStyling" method="POST">
            {% csrf_token %}
            {{ form }}
            <a class="" href="{% url 'coffee:edit-menu' %}">Cancel</a>
            <input class="inputStyling" type="submit" value="Update">
        </form>
    </div>
{% endblock %}
