{% extends './partials/base.html' %}

{% block title %} Purchase Inventory {% endblock %}
{% block page_heading %} Purchase Inventory {% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>How much would you like to buy?</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <a class="btn btn-secondary" href="{% url 'coffee:inventory' %}">Cancel</a>
                    <input class="btn btn-info" type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
