{% extends './partials/base.html' %}

{% block title %} Purchase Inventory {% endblock %}
{% block page_heading %} Purchase Inventory {% endblock %}

{% block content %}
    <div class="boxShadow">
        <h3>How much would you like to buy?</h3>
        <hr>
        <form class="inputStyling" method="POST">
            {% csrf_token %}
            {{ form }}
            <a class="" href="{% url 'coffee:inventory' %}">Cancel</a>
            <input class="" type="submit" value="Update">
        </form>
    </div>
{% endblock %}
