{% extends './partials/base.html' %}

{% block title %} Log Hours Worked {% endblock %}
{% block page_heading %} Log Hours Worked {% endblock %}

{% block content %}
    <div class="boxShadow">
        <h3>How many hours did you work?</h3>
        <hr>
        <form class="inputStyling" method="POST">
            {% csrf_token %}
            {{ form }}
            <a class="" href="{% url 'coffee:login' %}">Cancel</a>
            <input class="" type="submit" value="Update">
        </form>
    </div>
{% endblock %}
