{% extends './partials/base.html' %}
{% load static %}

{% block title %} Welcome User {% endblock %}
{% block page_heading %} Start New Order {% endblock %}

{% block content %}


{% for item in drink_list %}
    <div class="order">
        <a class="order-link" href="{% url 'coffee:customizeDrink' item.id%}">
            <div class="image">
                <img src="{% static 'blog/media/aFrap.jpeg' %}">
            </div>
            <div class="order-description">
                <h2>{{ item.name }}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
            <div class="price-of-order">
                <h1>{{ item.price }}</h1>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}
