.full-height-grow {
    flex-direction: row;
}


.login-container {
    margin-top:auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    padding: 2rem;
    background-color: white;
    border: 2px solid gray;
    max-width: 40rem;
    font-size: 1.2rem;
}

.sign-in-h1 {
    padding: 1rem;
    margin: auto;
    min-width: fit-content;
}

.register_link {
    margin: auto;
}

.register_link a {
    text-decoration: none;
}

input {
    border: 1px solid #a4a4a4;
    padding: 1.2rem 20px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #f8f8ff;
    font-size: 1.2rem;
}
  