.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:auto;
    margin-bottom: auto;
    background-color: #f9b248;
    border: 3px solid #0066b2;
    max-width: fit-content;
}

.register-header {
    font-size: 3rem;
    padding: 1.2rem;
}

.field-container {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}

.field-container * {
    padding: 1.2rem;
    font-size: 1.2rem;
    margin: 1.2rem;
}

.register-here-text {
    padding: 2rem;
}