/*
blue: 0066b2
red: fc3a52
yellow: f9b248
tan: e8d5b7
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 1.2rem;
}

h1 h2 {
    margin: 0;
    min-width: fit-content;
}

.full-height-grow {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    background-image: url("media/coffee-background.png");
    background-color: #E5D1B3;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #f9b248; /*#d77b52;*/
    min-height: 200px;
    width: 100%;
    border-bottom: 1px solid #0066b2;
    box-shadow: 0px 5px 5px #fc3a52;
}

.navbar-links {
    display: flex;
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    font-size: 1.5rem;
    max-height: 100px;
    flex-grow: 1;
    width: fit-content;
    white-space: nowrap ;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #394a51;
    padding: 2.5rem;
}

.navbar-links li:hover {
    background-color: #fbf2d5; 
}

/* Heading - Navbar ish */
.logout-btn {
    padding: 20px;
    border-radius: 10px;
    margin: 1rem;
    margin-right: 2rem;
    font-size: 1.2rem;
}

.heading {
    margin-left: 2rem;
    font-size: 2.5rem;
    color: #0066b2;
    text-shadow: 2px 2px #0e2431;
}

/* main-content styling */
.main-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
}

/* main-column styling */
.column-heading {
    font-size: 2rem;
    color: #fc3a52;
    background-color: #E5D1B3;
    text-shadow: 1px 1px #0e2431;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.column-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}  

/* add box shadow to any elements that gives it a pop :) */
.boxShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* footer styling */
.main-footer {
    display: flex;
    background-color: #0066b2;
    justify-content: center;
}

.main-footer p {
    color:#f9b248;
}


/* Table Styling */
.table {
    background-color: #e8d5b7;
    border-radius: 5px;
}

.table th, td {
    width: fit-content;
    text-align: center;
    vertical-align: middle;
}

.col-md-6 {
    margin: auto;
}

.btn {
    background-color: #0066b2;
    color: white;
}

#id_quantity {
    margin: auto;
}

.bg-white {
    width: fit-content;
    margin-bottom: 25rem;
}

.offset-md-3 {
    width: fit-content;
}

.table th {
    padding: 1.5rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
