/*
https://palettes.shecodes.io/palettes/507
*/


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background-color: burlywood;
}

h1 {
    margin: 0;
}


.navbar {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #fdc57b; /*#d77b52;*/
    max-height: 100px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    font-size: 1.5rem;
    max-height: 100px;
    flex-grow: 1;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #394a51;
    padding: 2.5rem;
}

.navbar-links li:hover {
    background-color: #fbf2d5; 
}

.navbar img {
    height: 100px;
    padding: 0;
}


/* BEGINNING OF TEXTBOX STYLING */
.content-box {
    background-color: rgb(211, 156, 84);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    max-height: 20rem;
    font-size: 1rem;
    border: 5px solid black;
    margin-top: 5rem;
}

.content-box img {
    height: 200px;
}

.content-box * {
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px black;
}

.textBox h1 {
    font-size: 10rem;
}
