
/* Order List styling for user page */
.order-link {
    display: flex;
}

.order {
    display: flex;
    margin: 2em;
    width: fit-content;
    border-left: 5px solid #fc3a52;
    border-bottom: 5px solid #f9b248;
    border-top: 5px solid #0066b2;
    background-color: #f1ddbd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 200px;
    align-self: center;
}

.order-description {
    padding: 2rem;
    max-width: 40em;
}

.order-description h2 {
    border-bottom: 4px dashed #fc3a52;
    width: fit-content;
}

.price-of-order {
    margin:auto;
    padding: 2rem;
}

/* change order items to fit on rows for smaller screens*/
@media screen and (max-width: 800px) {
    .order {
        flex-direction: column;
    }

    .image {
        margin: auto;
        padding: 2rem;
    }
}

/* Styling for drink customization */
.displayDrinkContainer {
    display: flex;
}

.larger-image img{
    max-width: 40vw;
}

.drinkOptionsConatiner {
    background-color: #f1ddbd;
    padding: 2rem;
    margin: 2rem;
}

.customizeDrink-InputForum {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}

.customizeDrink-InputForum * {
    padding: 1.2rem;
    font-size: 2rem;
    margin: 1.2rem;
}







